body {
    font-family: "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 100%;
    line-height: 1.8em;
}
header {
    margin: 0 auto;
    max-width: 1000px;
}
main {
    padding: 1em;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 8em 4em;
    border: 2px dashed lightgray;
}
footer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

#canvas-table {
    display: table;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#canvas-drawbox {
    display: table-cell;
    min-width: 301px;
    vertical-align: top;
    width: 30%;
}
canvas {
    border: 1px solid #000;
    touch-action: none;
}
#handwriting-results {
    display: table-cell;
    padding-left: 30px;
    vertical-align: top;
    width: 70%;
}

h2 {
    margin-top: 1.3em;
}
h3 {
    border-bottom: 1px solid #000;
    font-weight: 700;
    margin-bottom: 7px;
}
h3:first-of-type {
    margin-top: 0;
}

.kmatch {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    width: 1.3em;
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 1px 1px;
}

#jhr-undo {
    margin-left: 15px;
}
#jhr-clear,
#jhr-undo,
#jhr-generate-random-cjk {
    border: none;
    line-height: 2em;
    font-weight: bold;
    background-color: #222;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
}
#jhr-clear:hover,
#jhr-clear:focus,
#jhr-clear:active,
#jhr-undo:hover,
#jhr-undo:focus,
#jhr-undo:active,
#jhr-generate-random-cjk:hover,
#jhr-generate-random-cjk:focus,
#jhr-generate-random-cjk:active {
    background-color: #ddd;
    color: #000;
}
#jhr-generate-random-cjk {
    margin-top: 3em;
}
#jhr-random-cjk {
    font-size: 7em;
    line-height: 1.3em;
}

@media only screen and (max-width: 1100px) {
    header h1 {
        text-align: center;
        word-wrap: balance;
    }
    main {
        padding: 1em 3em 2em;
    }
}

@media only screen and (max-width: 830px) {
    #canvas-table {
        display: block;
        width: 100%;
    }
    
    #canvas-drawbox {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }
    
    #handwriting-results {
        padding-left: 0;
        display: block;
        width: 100%;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 400px) {
    main {
        padding: 0.5em;
    }
}
